body {
    font-family: 'Hind', sans-serif;
    margin: 0px;
    background-color: #242542;
    margin-bottom: 20px;
}

a {
    text-decoration: none;
    color: white;
}

a:focus {
    outline: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1d1e35;
    color: #ffffff;
    font-size: 20px;
    border-bottom: solid 1px;
}

.titre {
    margin-left: 20px;
    padding-right: 20px;
    border-right: solid 1px;
}

.main-title {
    color: white;
    text-align: center;
    font-size: 60px;
}

.jeu {
    margin-left: 20px;
    margin-right: 20px;
    color: white;
}

.carre {
    width: 20px;
    height: 20px;
    border: solid white 1px;
    background-color: black;
}

.article {
    margin-left: 20px;
    margin-right: 20px;
    border-top: solid 1px;
    border-bottom: solid 1px;
    border-color: white;
    color: white;
}

.article-preview {
    display: flex;
    margin-top: 20px;
}

.article-miniature {
    height: 120px;
    width: 120px;
}

.article-title {
    font-size: 40px;
    margin-left: 20px;
}